name: run-tests
on: push
jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun install --frozen-lockfile --verbose
        timeout-minutes: 2
      - run: bun run build
      - run: bun run test
      - run: bun run e2e
